section.overview
	.overview__row
		.overview__article.col-md-5.fadeInLeft
			h2.overview__title.
				#{lang.overview.article1.title}
			.overview__text.
				#{lang.overview.article1.text}
		.overview__pic.fadeInRight
				img(src='assets/frontend/img/web-design.png', alt=lang.overview.article1.imageAlt, width='100%', height='auto')

	.overview__row.overview__row-reverse
		.overview__pic.overview__pic--left.fadeInLeft
				img(src='assets/frontend/img/my-tasks.png', alt=lang.overview.article2.imageAlt, width='100%', height='auto')
		.overview__article.col-md-5.fadeInRight
			h2.overview__title.align--right.
				#{lang.overview.article2.title}
			.overview__text.align--right.
				#{lang.overview.article2.text}


	.overview__row
		.overview__article.col-md-5.fadeInLeft
			h2.overview__title.
				#{lang.overview.article3.title}
			.overview__text.
				#{lang.overview.article3.text}
		.overview__pic.fadeInRight
				img(src='assets/frontend/img/meeting-guide.png', alt=lang.overview.article3.imageAlt, width='100%', height='auto')


	.overview__row.overview__row-reverse
		.overview__pic.overview__pic--left.fadeInLeft
			img(src='assets/frontend/img/call.png', alt=lang.overview.article4.imageAlt, width='100%', height='auto')
		.overview__article.col-md-5.fadeInRight
			h2.overview__title.align--right.
				#{lang.overview.article4.title}
			.overview__text.align--right.
				#{lang.overview.article4.text}

