header.header(style='background-image: url(\'assets/frontend/img/header-background.svg\');')
	.container
		.col-xs-12
			.header__lang-wrap
				- var czechActive = lang.language === 'cz' ? 'active' : ''
				a(href='/', class="header__lang " + czechActive).
					cz
				.header__line
				- var englishActive = lang.language === 'en' ? 'active' : ''
				a(href='en.html', class="header__lang " + englishActive).
					en
			.header__wrap
				.header__logo
					- var logoLink = lang.language === 'cz' ? '/' : '/' + lang.language + '.html'
					a(href=logoLink, title='bizZiapp home')
						img(src='assets/frontend/img/logo.svg', alt='logo', width='113px', height='28px')
				.header__login-wrap
					- var productLang = lang.language === 'cz' ? '' : '-' + lang.language
					a(href='/product' + productLang + '.html', title='Product').header__product-link.
						#{lang.header.linkProduct}
					a(href='http://demo.bizziapp.com/', title='Log in').header__login.
						#{lang.header.linkLogin}

		.col-xs-12.col-md-7
			.text-block
				h1.header__title.
					#{lang.header.title}
				.header__description.
					#{lang.header.description}
				.header__subscription
					form(action='https://bizziapp.us17.list-manage.com/subscribe/post?u=9e52db3f58c43c9ac069d2d38&amp;id=ba8211c81f', target='_blank', method='POST', novalidate)
						input(placeholder='E-mail', name='EMAIL', type='email').header__email
						input(type='hidden', name='b_9e52db3f58c43c9ac069d2d38_ba8211c81f', tabindex='-1', value='')
						button(type='submit' value='submit').header__send.
							#{lang.header.submitForm}
